/* Navigation menu  */
*{
    padding: 0px;
    margin: 0px;
}

.navbar{
    display:flex;
    position: sticky;
    top: 0px;
}
.navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 51px;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
    
}

/* navbar consist of logo and ul list menu  */
#logo img{
    height: 43px;
    width: 88px;
    padding: 4px 8px;
    border-radius: 73px;
}
.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar ul li a{
    display: block;
    padding-left: 23px;
    padding-right: 54px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}
.home{

    display: flex;
    flex-direction: column;
    font-size: 1.0rem;
    padding: 34px;
    margin-top: 2vh;
    align-items: center;
     color: white;
}
.home .btn{
    padding: 12px;
    background-color: white;
    border: 2px solid red;
    border-radius: 3px;
    margin-top: 12px;
}
.home::before{
    content: "";
    position: absolute;
    top: 0px;
    background-image: url('/project 2/spaghetti-1932466_1920.jpg');
    
    height: 49vh;
    width: 100%;
    z-index: -1;
    opacity: 0.7;

}
.about{
    
    margin-top: 12vh;
}
.about h3{
    text-align: center;
}
.container{
    display: flex;
    /* flex-direction:column;        */
    align-items: center;
    justify-content:space-around;
    
    
}
.ourservices{
    margin-bottom: 10px;
}
.item img{
    height: 84px;
    width: 109px;
    margin: 9px;
}
.item{
    width: 24%;
    background-color: burlywood;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 23px;
    justify-content: center;
    border: 2px solid red;
    border-radius: 10px;
}

.container p{
    padding-left: 19px;
}
.images{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.clients img{
    height: 80px;
    width: 285px;
}
.clients ul{
    list-style: none;
    display: flex;
}
.cle{
    text-align: center;
    margin: 19px;
    font-size: 25px;
    color: white;
}
.clients li{
    padding: 10px;
}
.clients::before{
    content: "";
    position: absolute;
    /* top: 0px; */
    background-image: url('/project 2/spaghetti-1932466_1920.jpg');
    
    height: 39vh;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
.contact{
   margin-top: 91px;
}
.contact h3{
    text-align: center;
    margin-bottom: 10px;
}
.formitems{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contact::before{
    content: "";
    position: absolute;
    background-image: url('/project 2/spaghetti-1932466_1920.jpg');
    height: 34vh;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    }
   .tdx{
    display: flex;
    flex-direction: column;
    width: 36%;
   }
#button{
    align-items: center;
    border: 2px solid white;
    background-color: brown;
    margin: 12px;
    color: white;
}